# Django
*.log
*.pot
*.pyc
__pycache__
db.sqlite3
media
#*.html
#*.js
#*.json
#*.css
# Environments 
.env 
.venv 
env/ 
venv/ 
ENV/ 
env.bak/ 
venv.bak/ 

# Visual Studio Code # 
.vscode/* 
!.vscode/settings.json 
!.vscode/tasks.json 
!.vscode/launch.json 
!.vscode/extensions.json 
.history

# Other 
#static
#staticfiles
proj_db
5.png
db.sqlite3
db.sqlite3
