* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: rgb(6,57,112);
    color: white;
    font-size: 100%;
}

#mainHeader{
    display: flex;
}

#pw{
    position: fixed;
    top: 0;
    background-color: rgba(0, 0, 0, 0.5);
}

#pf{
    width: 700px;
    height: 700px;
    margin-top: 275px;
    margin-left: calc(50% - 350px);
    background-color: #fff;
}

#myInfo{
    margin-left: 52px;
}

main{
    margin-left: calc(50% - 250px);
    height: 10000px;
}

.post {
    width: 500px;
    min-height: 350px;
    border: 3px solid black;
    margin-top: 15px;
    max-height: 500px;
}

.authorBlock {
    display: flex;
    padding: 5px;
}

.authorAvatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.authorBlock__inner {
    display: block;
    margin-left: 10px;
}

.authorName {
    height: 15px;
    width: 200px;
    margin-bottom: 5px;
}

.datePosted {
    height: 10px;
    width: 350px;
}

.contentBlock {
    width: calc(100% - 20px);
    height: calc(100% - 126px);
    margin: 10px;
    border: 3px solid black;
}

.other {
    height: 50px;
    width: 100%;
    padding: 5px;
}

.comment_btn {
    width: 100px;
    height: 40px;
    border-radius: 10%;
    border: 3px solid black;
}

.commentsBlock {
    width: 100%;
    min-height: 0px;
    display: none;
}

#username {
    z-index: 2;
    position: fixed;
    right: 0;
}